.category {
  height: 70rem;
  width: 100%;
}
.category-main-title {
  font-family: "Abril Fatface", cursive;
  font-weight: 10;
  color: #fe97c4;
  font-size: 3em;
  margin: 2rem;
  text-align: center;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 200px;
  padding: 0 7rem 0 7rem;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.category-image {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}

.category-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13.5rem;
  height: 14rem;
  text-align: center;
  position: absolute;
  top: 10rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.category-title {
  position: relative;
  margin: 1rem;
  font-family: "Abril Fatface", cursive;
  font-weight: 10;
  color: #3f3e3e;
  font-size: 2em;
}

.category-description {
  font-family: "Comfortaa", cursive;
  font-size: 1em;
  font-weight: 400;
  color: #3f3e3e;
  width: 10rem;
  height: 6rem;
}

.category-button-main {
  color: white;
  background-color: #f095c4;
  border: none;
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  width: 300px;
  height: 45px;
  position: relative;
  top: 4rem;
}

.category-button-main:hover {
  font-style: italic;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .categories-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 7rem 0 7rem;
  }
  .category {
    height: 100rem;
  }
}

@media (max-width: 885px) {
  .categories-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-row-gap: 180px;
    padding: 0 7rem 0 7rem;
  }
  .category {
    height: 155rem;
  }
}

@media (max-width: 500px) {
  .categories-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-row-gap: 180px;
    padding: 0 2rem 0 2rem;
  }
}
