.product-page-center {
  margin: 30px 0 0 15.25%;
  display: flex;
}

.product-page-title {
  width: 70%;
  margin: 30px 0 0 15.25%;
  font-size: 2.6rem;
  line-height: 2.8rem;
}

.product-page-rating {
  margin: 30px 0 0 15.25%;
}

.product-page-image {
  width: 35%;
  object-fit: contain;
}

.product-page-description-block {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 5%;
  width: 45%;
}

.product-page-price {
  font-size: 2.6rem;
  line-height: 2.8rem;
  color: #f19cbd;
  font-weight: 900;
  margin: 0;
}

.product-page-description-title {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 60px 0 0 0;
}

.product-page-description {
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 400;
  margin: 60px 0 0 0;
}

.product-page-basket-favorite {
  margin: 60px 0 0 0;
  display: flex;
  gap: 40px;
}

.product-page-recommend-block {
  margin: 60px 0 60px 15.25%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product-page-recommend-title {
  margin: 60px 0;
  width: 100%;
  font-size: 2.9rem;
  line-height: 3.1rem;
  color: #f19cbd;
}

.search-result-page-title {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #f19cbd;
}

.show-review-block {
  margin: 60px 15.25% 60px;
}

.show-review-title {
  font-size: 2.2rem;
  line-height: 2.4rem;
  color: #f19cbd;
  font-weight: 900;
}

.show-review-name {
  background-color: #f19cbd;
  color: white;
  display: inline-block;
  padding: 5px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.show-review-comment {
  border: 2px solid #f19cbd;
  padding: 15px;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.create-review-leave-button {
  display: block;
  margin: 30px auto;
  width: 30%;
  background-color: #f19cbd;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

.review-adding-block {
  margin: 60px 15.25% 60px;
}

.review-adding-label {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.review-adding-text {
  border: none;
  margin-bottom: 20px;
  padding: 5px;
}

.review-adding-textarea {
  border: none;
  width: 200%;
  padding: 5px;
  height: 100px;
  margin-bottom: 20px;
}

.review-adding-submit {
  width: 30%;
  background-color: #f19cbd;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

.review-adding-confirm {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #f19cbd;
  font-weight: 900;
  letter-spacing: 2px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-page-title {
    margin: 80px 0 0 15.25%;
  }
}

@media (max-width: 767px) {
  .product-page-center {
    display: flex;
    flex-direction: column;
  }
  .product-page-image {
    width: 80%;
  }
  .product-page-description-block {
    width: 80%;
    margin: 20px 0 0 5%;
  }
  .review-adding-textarea {
    width: 100%;
  }
}
