.promotion {
  width: 100%;
  height: 400px;
  display: flex;
  background-color: #05e0dc;
  position: relative;
}

.promotion-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.promotion-image {
  width: 30vw;
}
.promotion-title {
  color: white;
  width: 40vw;
  font-size: 3.7rem;
}

.promotion-button {
  color: white;
  background-color: #f095c4;
  border: none;
  font-size: 15px;
  width: 130px;
  height: 45px;
}
.promotion-button:hover {
  cursor: pointer;
}

.promotion-popup {
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: #fee588;
  width: 400px;
  height: 400px;
  z-index: 10;
}
