.promotion {
  width: 100%;
  height: 600px;
  display: flex;
  background-color: #05e0dc;
  position: relative;
}

.promotion-main-container {
  position: relative;
  top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.promotion-image {
  position: relative;
  width: 30vw;
  height: 600px;
  object-fit: cover;
}

.promotion-title {
  color: white;
  width: 40vw;
  font-family: "Abril Fatface";
  font-weight: 10;
  font-size: 3rem;
  line-height: 3.3rem;
  text-align: center;
}

.promotion-button {
  color: white;
  background-color: #f095c4;
  border: none;
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  width: 300px;
  height: 45px;
}

.promotion-button:hover {
  cursor: pointer;
}

.promotion-popup {
  position: absolute;
  left: 30%;
  top: 25%;
  background-color: #f095c4;
  color: white;
  width: 40vw;
  height: 70vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 4px -4px black;
  border-radius: 20px;
}

.promotion-popup-text {
  font-size: 1.2rem;
  padding: 5px;
}

.promotion-popup-link {
  margin: 0 auto;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.promotion-popup-multiply {
  width: 48px;
  margin: 7px 7px 0 auto;
  cursor: pointer;
}

@media (max-width: 767px) {
  .promotion {
    height: 20vh;
  }

  .promotion-title {
    font-size: 1.3rem;
    width: 60vw;
  }
  .promotion-button {
    width: 120px;
    height: 40px;
    font-size: 0.8rem;
  }
  .promotion-popup {
    width: 85vw;
    left: 5%;
    height: 70vh;
  }
  .promotion-popup-text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* styles for tablets */
  .promotion-title {
    font-size: 3rem;
  }
  .promotion-button {
    width: 150px;
    height: 60px;
    font-size: 1.1rem;
  }
  .promotion-popup {
    width: 80vw;
    height: 50vh;
    left: 5%;
  }
  .promotion-popup-text {
    font-size: 1.4rem;
  }
}
