.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fee588;
}
.header-allProducts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fee588;
  position: relative;
  height: 250px;
}

.navbar-main-elements {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 10vw;
}
.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-section {
  width: 700px;
  display: flex;
}
.bottom-section {
  margin-top: 1rem;
  display: flex;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-buttons {
  margin: 0;
}

.header-search-block {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 40%;
  width: 20%;
}

.header-search-input {
  width: 400px;
  height: 40px;
  border: none; /* Remove border */
  border-radius: 3px; /* Apply rounded corners */
  font-family: "Comfortaa", cursive;
  font-size: 1;
  padding-left: 20px;
}

.header-category-list-block {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 2rem;
  position: relative;
}

.header-category-list {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 200px;
}

.header-category-arrow {
  margin-left: 0.5rem;
}
.header-category-arrow:hover {
  color: #fe97c4;
}

.all-products-link {
  color: black;
  margin-left: 3.5rem;
  font-family: "Comfortaa", cursive;
  font-size: 1.2em;
  text-decoration: none;
}
.all-products-link:active {
  color: red;
}

.header-category-title {
  font-family: "Comfortaa", cursive;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.header-category-list-item {
  cursor: pointer;
  background-color: white;
  font-family: "Comfortaa", cursive;
  font-size: 1.2em;
  line-height: 1.7rem;
  text-align: center;
}

.header-category-list-item a {
  text-decoration: none;
}

.header-favorites-button {
  margin: 5px;
  height: 25px;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 50px;
  align-items: baseline;
}

.cart-and-favorites-buttons {
  display: flex;
  justify-content: center;
}

.header-favorites-button-image {
  color: black;
  margin-left: 140px;
}

.header-favorites-button-image:hover {
  color: yellow;
}
.header-favorites-button-image:active {
  color: black;
}
.header-cart-button-image {
  color: black;
  margin: 10px;
}
.header-cart-button-image:hover {
  color: yellow;
}
.header-cart-button-image:active {
  color: black;
}

.donut {
  position: relative;
  left: 50rem;
  margin: 0px;
}

.header-cart-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 45px;
  cursor: pointer;
}
.cart-sum {
  margin: 5px;
  padding: 0;
  color: #fe97c4;
}

.header-title {
  font-family: "Abril Fatface", cursive;
  font-weight: 10;
  color: #fe97c4;
  font-size: 3em;
  line-height: 3.3rem;
  text-align: center;
}

.header-donut {
  width: 100px;
  height: 100px;
}

.header-search-suggestion {
  text-decoration: none;
  color: white;
  margin: 15px;
  font-family: "Comfortaa", cursive;
  font-size: 1em;
  /* line-height: 0.5; */
}

.header-search-suggestion:hover {
  color: black;
  font-style: italic;
}

.header-search-suggestion-block {
  position: absolute;
  z-index: 10;
  top: 120px;
  width: 400px;
  background-color: #fe97c4;
  text-align: center;
  line-height: 1.5;
}

.invisible {
  opacity: 0;
  cursor: default;
}

@media (max-width: 767px) {
  /* styles for phones */
  .header {
    height: 40vh;
    justify-content: center;
  }
  .header-allProducts {
    height: 20vh;
  }
  .header-logo {
    margin-top: 20px;
    left: 20px;
    min-width: 70px;
  }
  .header-search-block {
    width: 30vw;
    margin: 50px 0px 0px 100px;
  }
  .header-search-suggestion-block {
    top: 26%;
  }
  .header-title {
    width: 100vw;
    margin: 0;
    font-size: 1.2rem;
    line-height: normal;
  }
  .header-donut {
    top: 0;
    right: 0;
    float: left;
    width: 10vw;
    min-width: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-logo {
    margin-top: 20px;
    left: 20px;
    min-width: 70px;
  }
  .header-title {
    width: 60%;
    font-size: 3rem;
  }
}
