.product-page-title {
  color: #f19cbd;
  font-size: 2.5rem;
  margin-left: 40%;
  width: 270px;
}

.sortAndFilter {
  display: flex;
  font-size: 1.8rem;
  flex-direction: column;
  width: 100vw;
}

.invisible {
  width: 0px;
  height: 0px;
}

.categories-div {
  margin-left: 20%;
  margin-bottom: 30px;
  width: 540px;
}

.category-button {
  background: none;
  border: none;
  font-size: 1.3rem;
}

.category-button:hover {
  color: #f19cbd;
  cursor: pointer;
}

.sorting-div {
  display: flex;
  flex-direction: row;
  width: 60vw;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 70px;
}

.sorting-button {
  margin: 5px;
  padding: 10px;
  background: none;
  border: 3px solid #f19cbd;
  cursor: pointer;
}

.sorting-button:hover {
  color: white;
  background-color: #f19cbd;
}

.product-display-grid {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.header-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fee588;
}

.categories-title {
  text-align: center;
  color: #f095c4;
  margin: 30px 0 50px 0;
  font-size: 2.3rem;
}

.product-display-component {
  display: grid;
  width: 18em;
  text-align: center;
  border-radius: 5px;
}

.product-name {
  font-weight: bold;
}
.product-price {
  color: #f095c4;
  font-size: 2.1rem;
}

.product-overview-name {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
  margin: 5px 0 15px;
}

.product-overview img {
  width: 100%;
  margin: 1em 0;
}
.white-background {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: rgba(249, 248, 248, 0.7);
  z-index: 10;
  position: relative;
  top: -125px;
  width: 80%;
  height: 120%;
}

.product-options {
  margin-top: 20px;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  width: 100%;
}

.product-overview div {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.active {
  color: brown;
}

.on-sale-checkbox {
  margin: 20px 0 0 0;
  font-size: 1.1rem;
}

.filter-reset-button {
  width: 300px;
  margin: 30px auto;
  background-color: #f19cbd;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 30%;
}

.sorting-active {
  background-color: #f19cbd;
}

.in-stock-checkbox {
  margin: 20px 0 0 0;
  font-size: 1.1rem;
}

.filter-block {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  border: 3px solid #f19cbd;
}

.price-slider {
  font-size: 1.1rem;
  margin-left: 0;
  display: flex;
  gap: 15px;
}

#min,
#max {
  background-color: transparent;
  border: none;
}

@media (max-width: 767px) {
  /* styles for phones */
  .product-page-title {
    margin-left: 10%;
  }
  .categories-div {
    margin-left: 10px;
    width: 90%;
  }
  .sorting-div {
    width: 95%;
  }
  .filter-block {
    margin-left: 10%;
  }
}
