/* Start of cart header styles */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 18rem 0 14rem;
}
.cart-header h1 {
  font-family: "Abril Fatface", cursive;
  font-weight: 10;
  color: #fe97c4;
  font-size: 3em;
  line-height: 3.3rem;
}
.cart-header a {
  text-decoration: none;
  border: 2px solid #fe97c4;
  padding: 7px;
  font-family: "Comfortaa";
  color: black;
}
.cart-header a:hover {
  color: white;
  background-color: #fe97c4;
}

/* End of cart header styles */

/* Start of cart bar styles */
.cart-bar {
  padding-top: 50px;
  width: 80%;
  padding-left: 15%;
}
.cart-bar-items {
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  display: flex;
  background-color: #fe97c4;
  justify-content: space-around;
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
}
/* End of  cart bar styles  */

/* -------------------------------------- */
/* Start of cart items styles*/
.cart-items {
  margin: 0 20% 0 15%;
}
.cart-item {
  background: rgba(245, 245, 245, 0.7);
  display: flex;
  margin-bottom: 7px;
  position: relative;
  flex-wrap: wrap;
}
.cart-item img {
  width: 200px;
  padding-left: 25px;
}

.cart-item .title-price {
  display: flex;
}
.cart-item .product-name a {
  width: 200px;
  margin: 20px;
}
.cart-item .product-price {
  position: absolute;
  left: 35%;
  top: 50%;
}
.cart-item .cart-counter {
  position: absolute;
  right: 33%;
  top: 75%;
  border: 1px solid black;
  padding: 2px 15px;
}
.cart-item .cart-counter button {
  border: none;
  background-color: inherit;
  font-size: 20px;
  cursor: pointer;
}
.cart-item .cart-counter button:hover {
  color: #fe97c4;
}
.total-item-price {
  position: absolute;
  right: 6%;
  font-family: "Comfortaa", cursive;
  font-size: 2.1rem;
  color: #fe97c4;
}
.trash-icon {
  position: absolute;
  left: 15%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.trash-icon:hover {
  color: #fe97c4;
}
.product-amount {
  font-family: "Comfortaa";
  font-size: 17px;
  font-weight: bold;
}
/* End of cart items styles */

/* Start Responsive... */
@media (max-width: 769px) {
  .cart-bar {
    display: none;
  }
  .cart-header {
    padding-bottom: 15px;
  }
  .total-item-price {
    display: none;
  }
  .cart-items {
    display: block;
  }
  .cart-item {
    display: block;
    width: fit-content;
    height: 450px;
  }
  .cart-item img {
    width: 200px;
    height: auto;
  }
  .cart-item .product-price {
    position: absolute;
    left: 30%;
    top: 68%;
  }
  .cart-item .cart-counter {
    position: absolute;
    right: 33%;
    bottom: 2%;
    top: 90%;
    border: 1px solid black;
    padding: 2px 15px;
  }
  .product-name {
    margin: 0;
  }
}

/* The end of Responsive..... */
